<div class="row" ng-repeat="patientdetail in patients | where:{patientId: patientIdDetails} ">
  <div class="panel panel-default col-md-12" >
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4">
          <div class="pull-left ">
            <pre><h4> {{patient.firstName}}    {{patient.lastName}}        {{patient.dateOfBirth}} </h4></pre>
          </div>
        </div>
        <div class="col-md-8">
          <div class="pull-right">
            <p></p>
            <a  routerLink="/updatepatient/{{id}}" role="button" class="btn btn-default" > Edit  </a>
            <a (click)="delete()" role="button" class="btn btn-default"   > delete  </a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div align="left" >
          <div class="tab-content" >
            <div >
              <div role="tabpanel" class="tab-pane" >
                <pre>Date of Birth    {{patient.dateOfBirth}}</pre>
                <pre>Sex              {{patient.sex}}</pre>
                <pre>Country          {{patient.country}}</pre>
                <pre>State            {{patient.state}}</pre>
                <pre>Address          {{patient.address}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!--<div>-->
          <!--<div class="overflow comment">-->
            <!--<h4>Comments</h4>-->
            <!--<app-comment *ngFor="let c of {{patient.comments}}"-->
                         <!--[comment]="c"-->
            <!--&gt;</app-comment>-->
          <!--</div>-->
          <!--<div >-->
            <!--<form name="commentForm" class="row">-->
              <!--<div class="col-md-10 col-md-offset-1">-->
                <!--<div class="input-group">-->
                  <!--<input type="text" class="form-control " />-->
                  <!--<span class="input-group-btn">-->
                                    <!--<button type="submit"  class="btn btn-default " >+</button>-->
                                <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
