<div class="container-fluid">
  <div class="row" >
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class=" col-md-12">
          <div class="col-md-3">
            <p></p>
            <input id="firstName" [(ngModel)]="search" />
            <a routerLink="/createpatient"  role="button" class="btn btn-default" > New Patient  </a>
            <hr align="center" width="100%" size="3px" color="black"/>
            <div class="overflow" >
              <app-li-patient *ngFor="let p of patients | search:search"
                            [patient]="p"
             ></app-li-patient>
            </div>
          </div>
          <div class="col-md-9">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
